@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    height: 100%;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    background-color: #6d6d6d;
    color: #000000;
    height: 100%;
}

.sidebar-width {
    width: 480px;
}

.search-bar-width {
    width: 1280px;
}

@media only screen and (max-width: 768px) {
    .search-bar-width {
        width: 540px;
    }
}
@media only screen and (max-width: 480px) {
    .search-bar-width {
        width: 100%;
    }
}