@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

body {
    height: 100%;
    padding: 0;
    color: #000000;
}

.sidebar-width {
    width: 480px;
}

.search-bar-width {
    width: 1280px;
}

.bg-grey-half {
    background-color: rgb(48, 48, 48);
}

#pokemonImg {
    cursor: pointer;
    transition: 0.25s width;
}

.pokeImgSize {
    width: 24rem;
}
.pokeImgSize:hover {
    width: 26rem;
}

#favoritePokeButton:hover {
    opacity: 50%;
}

.favePokeBox:hover, .evolveImg:hover {
  transform: scale(1.05);
  cursor: pointer;
  transition: 0.25s;
}

.favePokeBox, .evolveImg {
    transform: scale(1.00);
    cursor: none;
    transition: 0.25s;
}

.favePokeBox {
    width: 90%;
    height: 128px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    margin-top: 25px;
}
  
.favePokeImg {
  height: 90%;
  margin-left: 15px;
}

.favePokeText {
    justify-content: right;
    text-align: right;
    font-size: 28px;
    margin-left: 40px;
}

.favoriteButtonSubRemove {
    margin-top: 0px;
    margin-left: 0px;
}

.evolveCol {
    width: 15%;
}

.evolveImg {
  height: 70px;
}

.evolveBranch {
  margin: 20px;
}

.ph-arrow-right-bold::before {
    content: "\2192";
    
}
.ph-arrow-right-bold {
  color: black;
  font-size: 48px;
  text-shadow: 0 0 12px rgba(0, 0, 0, .25);
}

@media only screen and (max-width: 768px) {
    .search-bar-width {
        width: 540px;
    }
}
@media only screen and (max-width: 480px) {
    .search-bar-width {
        width: 100%;
    }
    .sidebar-width {
        width: 100%;
    }
    .favoriteButtonSubRemove {
        margin-left: 30px;
    }

    .evolveCol {
        width: 20%;
    }

    .evolveImg {
        height: 42px;
      }
}
